<div id="document_users">
  <table width="100%">
    <tbody>
    <tr>
      <% signature.users_documents.each_with_index do |user_document, index| %>
        <% if index >= inital && index < final %>

          <td width="<%= 100 / (final - inital) %>%">
            <% if user_document.user.signature_image.present? %>
              <div class="text-center">
                <%= image_tag(user_document.user.signature_image.thumb.url) %>
              </div>
            <% else %>
              <div style="height:100px;"></div>
            <% end %>
            <h4 class="text-center text-capitalize"><%= user_document.user.try(:name) %></h4>
            <h6 class="text-center text-capitalize"><%= user_document.function %></h6>
            <br>


        <% end %>
        </td>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>